<div class="container mx-auto pt-12 flex">
  {{#word-search-game as |game|}}
    <div class="game-grid-container border-2 border-grey-darkest rounded">
      {{game.grid}}
    </div>
    <div class="game-details-container ml-12">
      Current word:<br>
      {{game.currentPath}}
      <button {{action game.submit}}>Submit</button>
      <button {{action game.clear}}>Clear</button>
      <br>
      Score: {{game.score}}.
      <h3>Words</h3>
      <ul>
        {{#each game.words as |word|}}
          <li>{{word}}</li>
        {{else}}
          <li><em>None yet</em></li>
        {{/each}}
      </ul>
    </div>
  {{/word-search-game}}
</div>